* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.logo img {
    width: 180px;
    margin: 10px 0;
}

.menu-bar {
    width: 100%;
    background-color: #a50000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.back-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.user-icon {
    font-size: 20px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.mapa-container {
    max-width: 100%;
    overflow-x: auto;
    text-align: center; /* centraliza a imagem dentro do container */
}

.mapa-img {
    max-width: 80%;  /* reduzida de 100% para 80% */
    height: auto;
    border: 1px solid #ccc;
}
