/* Topo branco com logo e perfil */
.top-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 5pc;
}

.logo {
  height: 60px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ícone de perfil no canto direito */
.perfil-icon {
  position: absolute;
  right: 24px;
  top: 1.2pc;
  height: 60px;
  width: 60px;
  color: #ffffff;
}

/* Barra de navegação vermelha com os links */
.navbar {
  background-color: #97080A;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar nav a {
  color: white;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    padding:5px;
    border-left: 2px solid white;
    text-decoration: none;
}

.navbar nav a:hover {
  border-radius: 10px;
    text-decoration: none;
    color: #97080A;
    background-color: #ffffff;
}

.icone_menu{
    width: 40px;
    height: 40px;
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
  }

  #none-border{
    border: none;
  }

  .menu-options2{
    color: #97080A;
    display: none;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 80px; /* Ajuste de acordo com a altura do menu */
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .menu-options2 a{
    color: #97080A;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    text-decoration: none;
  }