.navbar {
  background-color: #8b0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  position: relative;
  z-index: 2;
}

.logo {
  height: 40px;
}

.navbar nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.perfil-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Ajustes no main para não esconder a navbar */
main {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Desconta altura da navbar */
  padding-top: 30px;
}
