body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.top-bar {
  background-color: #a00000;
  text-align: center;
  padding: 10px 0;
}

.logo-senai {
  height: 40px;
}

.menu {
  background-color: #800000;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.admin-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-card {
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.admin-info img {
  width: 30px;
  height: 30px;
}

.admin-actions {
  display: flex;
  gap: 10px;
}

.admin-actions button {
  background: none;
  border: none;
  cursor: pointer;
}

.admin-actions img {
  width: 20px;
  height: 20px;
}

.add-button {
  background-color: #a00000;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  display: block;
  margin: 40px auto 0;
  font-weight: bold;
  cursor: pointer;
}
.logo{
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}