<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gerenciamento da Festa</title>
  <link rel="stylesheet" href="../css/festa.css">
  <link rel="stylesheet" href="../css/global.css">
</head>
<body>
  <header>
    
  </header>

  <main>
    <h2>Criação das Perguntas</h2>
    <div class="perguntas">
      <input type="text" placeholder="Pergunta 1">
      <input type="text" placeholder="Pergunta 2">
    </div>
    <button class="adicionar">+</button>
    <button class="voltar">Voltar</button>
  </main>
</body>
</html>
