<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gerenciar Festa</title>
  <link rel="stylesheet" href="/css/gerenciamento.css">
  <link rel="stylesheet" href="/css/cabecalho.css">
</head>
<body>
  <header class="topo">
    <div class="banner-topo">
      <img src="../images/SENAI_São_Paulo_logo.png" alt="Logo SENAI" class="logo-senai">
    </div>

    <div class="cabecalho-lotes">
      <a href="../views/home.html" class="icone-voltar">
        <img src="../images/home.png" alt="Voltar para Home" />
      </a>
      <span class="titulo-cabecalho">Baixa de Pagamento</span>
      <a href="../views/perfil.html" class="icone-perfil">
        <img src="../images/icon.png" alt="Ir para Perfil" />
      </a>
    </div>
  </header>

  <main class="conteudo">
    <div class="botoes-container">
      <button class="botao">Relatório da Pesquisa</button>
      <button class="botao">Criação de Perguntas</button>
      <button class="botao">Controle de Acesso</button>
      <button class="botao">Listagem de Administradores</button>
    </div>
  </main>
</body>
</html>
