<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gerenciar Festa</title>
  <link rel="stylesheet" href="../css/gerenciamento.css">
  <link rel="stylesheet" href="../css/cabecalho.css">
</head>
<div class="top-bar">
  <img src="../images/SENAI_São_Paulo_logo.png" alt="Logo SENAI" class="logo" />
 
</div>

<!-- Faixa vermelha: menu centralizado -->
<header class="navbar">
  <nav>
    <a href="../views/home.html">Início</a> |
    <a href="../views/lotes.html">Gerenciar Lotes</a> |
    <a href="../views/gerenciamento.html">Gerenciar Festa</a> |
    <a href="../views/baixa.html">Gerenciar Pagamentos</a> |
    <a href="../gerenciamento/cadastroadm.html">Cadastro</a>
    <a href="../views/perfil.html">
      <img src="../images/icon.png" alt="Perfil" class="perfil-icon" />
    </a>
  </nav>
</header>
  <main class="conteudo">
    <div class="botoes-container">
      <a href="../gerenciamento/pesquisa.html" class="botao">Relatório da Pesquisa</a>
      <a href="../gerenciamento/perguntas.html" class="botao">Criação de Perguntas</a>
      <a href="../gerenciamento/controle.html" class="botao">Controle de Acesso</a>
      <a href="../gerenciamento/listagemadm.html" class="botao">Listagem de Administradores</a>
      <a href="../gerenciamento/grafico.html" class="botao">Gráfico dos Ingressos</a>
    </div>
  </main>
</body>

</html>
