<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento dos administradores</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
</head>
<body>
    <div class="top-bar">
        <div class="menu-container">
            <img src="../images/menu.png" class="icone_menu" id="menu">
            <div class="menu-options2" id="menu-options2">
                <a href="../views/home.html" id="none_border">Início</a>
                <a href="../views/lotes.html">Gerenciar Lotes</a> 
                <a href="../views/gerenciamento.html">Gerenciar Festa</a> 
                <a href="../views/baixa.html">Gerenciar Pagamentos</a> 
                <a href="../gerenciamento/cadastroadm.html">Cadastro</a>
            </div>
        </div>
        <img src="../images/SENAI_São_Paulo_logo.png" alt="Logo SENAI" class="logo" />
        <a href="../views/perfil.html">
            <img src="../images/icone_perfil.png" alt="Perfil" class="perfil-icon" />
        </a>
    </div>
 
      <header class="navbar">
        <div class="menu-options" id="centro_menu">
            <a href="../views/home.html" id="none_border">Início</a>
            <a href="../views/lotes.html">Gerenciar Lotes</a> 
            <a href="../views/gerenciamento.html">Gerenciar Festa</a> 
            <a href="../views/baixa.html">Gerenciar Pagamentos</a> 
            <a href="../gerenciamento/cadastroadm.html">Cadastro</a>
        </div>
      </header>

    <section class="fundo1">
        <div class="fundo_container">
            <img src="../images/festa.png" alt="Festa Junina" class="img">
        </div>
    </section>

    <div class="txt">
        Olá, Administrador! Escolha a opção desejada para prosseguir com o<br>
        gerenciamento da Festa Junina!
    </div>

    <section class="red-hero">
        <div class="red-hero__buttons">
            <a href="../views/lotes.html"><button class="red-hero__btn">Gerenciar Lotes</button></a>
            <a href="../views/baixa.html"><button class="red-hero__btn">Gerenciar Pagamentos</button></a>
        </div>
        <div class="red-hero__buttons red-hero__buttons--center">
            <a href="../views/gerenciamento.html"><button class="red-hero__btn red-hero__btn--wide">Gerenciar Festa</button></a>
        </div>
    </section>

    <footer class="red-footer"></footer>
    <script src="../js/menu.js"></script>
</body>
</html>
