<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento dos administradores</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    
    <div class="cabecario">
        <img src="../images/SENAI_São_Paulo_logo.png" alt="" class="logo">
        <img src="../images/Frame.png" alt="" class="perfil">
    </div>

<section class="fundo1">
    <div class="fundo_container">
      <img src="" alt="" class="img">
    </div>
  </section>
  

    <div class="txt">Olá, Administrador! Escolha a opção desejada para prosseguir com o<br>gerenciamento da Festa Junina!</div>

<section class="red-hero">
    <div class="red-hero__container">
      <img src="seu-caminho-para-imagem.jpg" alt="" class="red-hero__img">
    </div>
  
  
<section class="red-hero">
    <div class="red-hero__container">
      <img src="seu-caminho-para-imagem.jpg" alt="" class="red-hero__img">
    </div>
  
    <div class="red-hero__buttons">
      <button class="red-hero__btn">Gerenciar Lotes</button>
      <button class="red-hero__btn">Gerenciar Pagamentos</button>
    </div>
  
    <div class="red-hero__buttons red-hero__buttons--center">
      <button class="red-hero__btn red-hero__btn--wide">Gerenciar Festa</button>
    </div>
  </section>

  <footer class="red-footer"></footer>
  


</body>
</html>