<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento dos administradores</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
</head>
<body>
    <div class="top-bar">
        <img src="../images/SENAI_São_Paulo_logo.png" alt="Logo SENAI" class="logo" />
       
      </div>
      
      <!-- Faixa vermelha: menu centralizado -->
      <header class="navbar">
        <nav>
          <a href="../views/home.html">Início</a> |
          <a href="../views/lotes.html">Gerenciar Lotes</a> |
          <a href="../views/gerenciamento.html">Gerenciar Festa</a> |
          <a href="../views/baixa.html">Gerenciar Pagamentos</a> |
          <a href="../criarsenha.html">Cadastro</a>
          <a href="../views/perfil.html">
            <img src="../images/icon.png" alt="Perfil" class="perfil-icon" />
          </a>
        </nav>
      </header>
      
       

    <section class="fundo1">
        <div class="fundo_container">
            <img src="../images/festa.png" alt="Festa Junina" class="img">
        </div>
    </section>

    <div class="txt">
        Olá, Administrador! Escolha a opção desejada para prosseguir com o<br>
        gerenciamento da Festa Junina!
    </div>

    <section class="red-hero">
        <div class="red-hero__buttons">
            <a href="../views/lotes.html"><button class="red-hero__btn">Gerenciar Lotes</button></a>
            <a href="../views/baixa.html"><button class="red-hero__btn">Gerenciar Pagamentos</button></a>
        </div>

        <div class="red-hero__buttons red-hero__buttons--center">
            <a href="../views/gerenciamento.html"><button class="red-hero__btn red-hero__btn--wide">Gerenciar Festa</button></a>
        </div>
    </section>

    <footer class="red-footer"></footer>
    <a>Feito por: 2ºANO Tec DS ©</a>

</body>
</html>
