<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listagem dos Administradores</title>
  <link rel="stylesheet" href="../css/listagemadm.css" />
  <link rel="stylesheet" href="../css/cabecalho.css" />
</head>
<body>
  <header>
    <div class="banner-topo">
        <img src="../images/SENAI_São_Paulo_logo.png" alt="Logo SENAI" class="logo-senai">
      </div>
  
      <div class="cabecalho-lotes">
        <a href="../views/home.html" class="icone-voltar">
          <img src="../images/home.png" alt="Voltar para Home" />
        </a>
        <span class="titulo-cabecalho">listagem adm</span>
        <a href="../views/perfil.html" class="icone-perfil">
          <img src="../images/icon.png" alt="Ir para Perfil" />
        </a>
      </div>
  </header>
  <main>
    <h2>Listagem dos Administradores</h2>
    <div class="admin-list">
      <!-- Lista de administradores -->
    </div>
    <button class="add-button">Cadastrar Novo Administrador</button>
  </main>

  <script src="../js/listagemadm.js"></script>
</body>
</html>
