<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listagem dos Administradores</title>
  <link rel="stylesheet" href="../css/listagemadm.css" />
  <link rel="stylesheet" href="../css/cabecalho.css" />
</head>
<body>
  <body>
    <header class="navbar">
      <img src="../images/SENAI_São_Paulo_logo.png" alt="Logo SENAI" class="logo" />
      <nav>
        <a href="../views/home.html">Início</a>
        <a href="../views/lotes.html">Gerenciar Lotes</a>
        <a href="../views/gerenciamento.html">Gerenciar Festa</a>
        <a href="../views/baixa.html">Gerenciar Pagamentos</a>
        <a href="../criarsenha.html">Cadastro</a>
      </nav>
      <a href="../views/perfil.html">
        <img src="../images/icon.png" alt="Perfil" class="perfil-icon" />
      </a>
    </header>
  

  <main>
    <h2>Listagem dos Administradores</h2>
    <div class="admin-list"></div>
    <button class="add-button">Cadastrar Novo Administrador</button>
  </main>

  <script src="../js/listagemadm.js"></script>
</body>
</html>
