<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gerenciador de Lotes</title>
  <link rel="stylesheet" href="/css/lotes.css">
  <link rel="stylesheet" href="/css/cabecalho.css">
</head>
<body>
  <header>
    <div class="banner-topo">
      <img src="/images/SENAI_São_Paulo_logo.png" alt="Logo SENAI" class="logo-senai">
    </div>

    <div class="cabecalho-lotes">
      <a href="#" class="icone-voltar">
        <img src="/images/home.png" alt="Voltar para Home" />
      </a>
      <span class="titulo-cabecalho">Gerenciamento de Lotes</span>
      <a href="#" class="icone-perfil">
        <img src="/images/icon.png" alt="Ir para Perfil" />
      </a>
    </div>
  </header>

  <div class="container">
    <button class="criar-lote">CRIAR NOVO LOTE</button>

    <!-- Lotes -->
    <div class="lote ativo">
      <h2>PRIMEIRO LOTE</h2>
      <div class="acoes">
        <button class="editar">EDITAR</button>
        <button class="excluir">EXCLUIR</button>
        <p class="info">Restam 50 ingressos<br>para o fim do lote</p>
        <p class="status-text">STATUS: ATIVADO</p>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider"></span>
        </label>
      </div>
      
    </div>

    <div class="lote inativo">
      <h2>SEGUNDO LOTE</h2>
      <div class="acoes">
        <button class="editar">EDITAR</button>
        <button class="excluir">EXCLUIR</button>
        <p class="info">LOTE NÃO INICIADO</p>
        <p class="status-text">STATUS: DESATIVADO</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <div class="lote inativo">
      <h2>TERCEIRO LOTE</h2>
      <div class="acoes">
        <button class="editar">EDITAR</button>
        <button class="excluir">EXCLUIR</button>
        <p class="info">LOTE NÃO INICIADO</p>
        <p class="status-text">STATUS: DESATIVADO</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <div class="lote inativo">
      <h2>QUARTO LOTE</h2>
      <div class="acoes">
        <button class="editar">EDITAR</button>
        <button class="excluir">EXCLUIR</button>
        <p class="info">LOTE NÃO INICIADO</p>
        <p class="status-text">STATUS: DESATIVADO</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>
  

  <script src="/js/lotes.js"></script>
</body>
</html>
