<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Seu perfil</title>
  <link rel="stylesheet" href="/css/perfil.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"/>
</head>
<body>
  <header>
    <img src="/images/SENAI_São_Paulo_logo.png" class="senai" />
  </header>

  <div class="cabecalho2">
    <a href="/views/home.html" class="home-btn">
      <img src="../images/home.png" alt="voltar" />
    </a>
  </div>
  
  <div class="container-perfil">
    <div class="dados">
      <img src="../images/icone-utilisateur.png" class="foto-user" />
      <button id="editar-btn">
        <img src="../images/edit (1).png" class="edit"/> Editar
      </button>
      <h1 id="username">Roberto Mitsuo Inoue</h1>
    </div>

    <div class="info-container">
      <h3>
        <img src="../images/cadeado.png" class="img-form" />
        Informações Pessoais:
      </h3>

      <div class="info-item">
        <img src="../images/cracha.png" class="img-form" />
        <span id="nome-completo">Nome completo: Roberto Mitsuo Inoue</span>
        <input type="text" id="input-nome" class="hidden" />
      </div>

      <div class="info-item1">
        <img src="../images/telefone.png" class="img-form" />
        <span id="telefone">Telefone: (14) 99876-5432</span>
        <input type="tel" id="input-telefone" class="hidden" />
      </div>

      <div class="info-item">
        <img src="../images/email.webp" class="img-form" />
        <span id="email">E-mail: roberto.inoue@email.com</span>
        <input type="email" id="input-email" class="hidden" />
      </div>

      <div class="info-item1" id="info-item2">
        <img src="../images/cadeado.png" class="img-form" />
        <span id="senha">Senha: **********</span>
        <input type="password" id="input-senha" class="hidden" />
        <button id="toggle-senha">
          <img src="../images/thumbnail_eye-open.png" class="eye" />
        </button>
      </div>

      <button class="btn-editar" id="btn-editar-dados">
        <img src="../images/edit (1).png" class="edit"/> Editar
      </button>
    </div>
  </div>

  <script src="/js/perfil.js"></script>
</body>
</html>
