body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: gray  ;
  color: rgb(0, 0, 0);
}

/* Posicionamento do botão no canto superior direito */
/* ============================= */
/* Estilo do MENU (modificações) */
/* ============================= */

/* Posicionamento do botão no canto superior direito */
/* ============================= */
/* MENU - Sempre com animação    */
/* ============================= */

/* Container do botão de menu */
/* Keyframes das animações utilizadas */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ============================= */
/* O restante do CSS permanece inalterado */
/* ============================= */

/* ... (restante do código CSS fornecido) ... */




/* Botão Cadastro */
.btn-cadastro {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 15px;
}

.icone-perfil {
  width: 60px;  
  height: 60px;
}

header{
  background-color: white;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#carouselExampleIndicators{
  width: 1000px;
  margin: 0 auto;
}

.img_festa{
  display: block;
  width: 100%;
}

.conteiner-carrossel{
  width: 100%;
  background-color: #97080A;
  height: 600px;
  top: 0%;
  padding-top: 60px;
}

.senai{
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}

.bemvindo{
background-color: white;
text-align: center;
height: 370px;
}

.bemvindo h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.cont b{
  font-weight: 400;
}

.t1{
font-size: 40px;
color: #97080A;
}
.cdp{
font-size: 30px;
color: black;
font-weight: 200;
}
.bot1{
border-radius: 50px;
background-color: #97080A; 
margin-top: -80px;
height: 60px;
width: 300px;
border: none;
color: white;
}
.bot2{
border-radius: 50px;
background-color: #97080A;
margin-left: 250px;
margin-top: 20px;
height: 60px;
width: 300px;
border: none;
color: white;
}
.bot1 a:hover{
  color: white;
  text-decoration: none;
}
.bot2 a:hover{
  color: white;
  text-decoration: none;
}
.bot3{
  color: white;
  font-size: 20px;
}
.tt1{
  margin-top: 13px;
  color: white;
  font-size: 20px;
  }
  .tt2{
    margin-top: 13px;
  color: white;
  font-size: 20px;
  }

.noite{
  text-align: center;
  color: white;
  background-color: #97080A;
  height: 520px;
}

.subtitulo{
font-size: 50px;
}
.container_texto{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 50px;
padding: 20px;
margin-top: 60px;
}
.texto{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 10px;
  text-align: left;
}


.texto1{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 10px;
  text-align: left;
  margin-bottom: -150px;
}

  #centro{
  grid-column: span 2;
  justify-content: center;
  text-align: center;
}
  .texto img{
  object-fit: cover;
  margin-left: 0px;
  width: 50px;
  height: 50px;
}
  .sup{
  background-color: white;
  height: 100px;
  text-align: center;
  
}
  .contato{
  font-size: 10px;
  margin-top: 50px;
}
  .cont{
    font-size: 40px;
  }
  .sup1{
  background-color: #97080A;
  border-radius: 40px;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  font-size: 30px;
  color: white;
  border: none;
}
  .rodape{
  background-color: #97080A;
  margin-bottom: 0;
  margin-top: 30px;
  height: 50px;
  user-select: none;
}
  .rod1{
  color: #97080A;
}

  .t3{
    font-size: 30px;
    margin-left: 20px;
  }
  .t5{
    font-size: 30px;
    margin-left: 25px;
  }
  .t6{
    font-size: 29px;
    margin-left: 20px;
    margin-right: 0px;
  }
  .t7{
    font-size: 35px;
  }



      /* RESPONSIVIDADE */


/* RESPONSIVIDADE */
@media (max-width: 1024px) {

  /* Ajuste para Tablets */
  .btn-cadastro {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 20px;
  }
  
  .icone-perfil {
    width: 40px;  
    height: 40px;
  }
  
  header {
    background-color: white;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  #carouselExampleIndicators {
    width: 80%;
    margin: 0 auto;
  }
  
  .img_festa {
    display: block;
    width: 100%;
  }
  
  .conteiner-carrossel {
    width: 100%;
    background-color: #97080A;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .senai {
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  
  .bemvindo {
    background-color: white;
    text-align: center;
    width: 100%;
    height: 26pc;
    padding: 100px
  }

  .t1 {
    font-size: 30px;
    color: #97080A;
    position: absolute;
    margin-top: 140px;
    text-align: center;
  }

  .cdp {
    font-size: 21px;
    color: black;
    position: absolute;
    margin-top: 100px;
    margin-left: 2px;
  }

  .container_botao {
    display: flex;
    gap: 60px;
    width: 100%;
    height: 20px;
    align-items: center;
    margin-top: -40px;
    margin-left: 6.5pc;
  }

  .bot1,
  .bot2 {
    border-radius: 50px;
    background-color: #97080A; 
    height: 80px;
    width: 280px;
    border: none;
    color: white;
    font-size: 16px;
    margin: 10px 0;
    margin-bottom: 20px;
  }

  .bot1 a:hover,
  .bot2 a:hover {
    color: white;
    text-decoration: none;
  }

  .tt1, .tt2 {
    color: white;
    font-size: 21px;
  }

  .noite {
    text-align: center;
    color: white;
    background-color: #97080A;
    padding: 40px 20px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .container_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .texto {
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
  }

  .texto img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .sup {
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .contato {
    font-size: 14px;
  }

  .cont {
    font-size: 30px;
  }

  .sup1 {
    background-color: #97080A;
    border-radius: 40px;
    width: 240px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    border: none;
  }

  .noite {
  height: 635px;
  }

  .rodape {
    background-color: #97080A;
    user-select: none;
    width: 104%;
    margin-left: -20px;
  }

  .rod1 {
    color: #97080A;
    font-size: 20px;
  }
}

/* Ajuste para Celulares */
@media (max-width: 600px) {
  .t1 {
    font-size: 25px;
  }

  .cdp {
    font-size: 20px;
  }

  .bot1,
  .bot2 {
    width: 220px;
    height: 55px;
    font-size: 14px;
  }

  .container_botao {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 20px;
    align-items: center;
    margin-top: -40px;
    margin-left: -1.4pc;
  }

  .tt1, .tt2 {
    font-size: 16px;
  }

  .t1 {
    font-size: 30px;
    color: #97080A;
    position: absolute;
    margin-top: 140px;
    width: 25pc;
    margin-right: 200px;
    text-align: justify;
  }

  .cdp {
    font-size: 21px;
    color: black;
    position: absolute;
    margin-top: 155px;
    width: 25pc;
    margin-right: 100px;
    text-align: justify;
  }

  .bemvindo {
    background-color: white;
    text-align: center;
    width: 100%;
    height: 35pc;
    padding: 100px
  }

  .subtitulo {
    font-size: 30px;
  }

  .texto {
    width: 100%;
  }

  .t3 {
    font-size: 25px;
  }

  .t5 {
    font-size: 25px;
  }

  .t6 {
    font-size: 25px;
  }

  .t7 {
    font-size: 25px;
    text-align: start;
  }

  .noite {
  height: 750px;
  }

  .texto img {
    width: 30px;
    height: 30px;
  }

  .sup1 {
    width: 180px;
    height: 40px;
    font-size: 18px;
  }

  .rod1 {
    font-size: 16px;
  }

  .rodape {
    background-color: #97080A;
    user-select: none;
    width: 107.2%;
    margin-left: -20px;
  }
}
