body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: gray  ;
  color: rgb(0, 0, 0);
}

/* Posicionamento do botão no canto superior direito */
/* ============================= */
/* Estilo do MENU (modificações) */
/* ============================= */

/* Posicionamento do botão no canto superior direito */
/* ============================= */
/* MENU - Sempre com animação    */
/* ============================= */

/* Container do botão de menu */
.icone_menu{
  width: 40px;  
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  display: none;
}
.menu-options{
  color: black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
}
.menu-options a{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
.menu-options a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #a80000;
}
#menu-options {
  display: flex;
}
#menu-options.ativo {
  display: none;
}


/* Keyframes das animações utilizadas */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ============================= */
/* O restante do CSS permanece inalterado */
/* ============================= */

/* ... (restante do código CSS fornecido) ... */




/* Botão Cadastro */
.btn-cadastro {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 15px;
}

.icone-perfil {
  width: 60px;  
  height: 60px;
}

header{
  background-color: white;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#carouselExampleIndicators{
  width: 1000px;
  margin: 0 auto;
}

.img_festa{
  display: block;
  width: 100%;
}

.conteiner-carrossel{
  width: 100%;
  background-color: #a80000;
  height: 600px;
  top: 0%;
  padding-top: 60px;
}

.senai{
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}

.bemvindo{
background-color: white;
text-align: center;
height: 370px;
}
.t1{
font-size: 50px;
color: #a80000;
}
.cdp{
font-size: 30px;
color: black;
}
.bot1{
border-radius: 50px;
background-color: #a80000; 
margin-top: -80px;
height: 60px;
width: 300px;
border: none;
}
.bot2{
border-radius: 50px;
background-color: #a80000;
margin-left: 250px;
margin-top: 20px;
height: 60px;
width: 300px;
border: none;
}
.bot1 a:hover{
  color: white;
  text-decoration: none;
}
.bot2 a:hover{
  color: white;
  text-decoration: none;
}
.bot3{
  color: white;
  font-size: 20px;
}
.tt1{
  color: white;
  font-size: 20px;
  }
  .tt2{
  color: white;
  font-size: 20px;
  }

.noite{
text-align: center;
color: white;
background-color: #a80000;
height: 420px;
}
.subtitulo{
font-size: 50px;
}
.container_texto{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
padding: 20px;

}
.texto{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 10px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}


.texto1{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 10px;
  text-align: left;
  margin-bottom: -150px;
}
.img2{
  margin-left: 120px;
}
.img3{
  margin-left: 70px;
}
  #centro{
  grid-column: span 2;
  justify-content: center;
  text-align: center;
}
  .texto img{
  object-fit: cover;
  margin-left: 10px;
  width: 70px;
  height: 70px;
}
  .sup{
  background-color: white;
  height: 100px;
  text-align: center;
  
}
  .contato{
  font-size: 10px;
  margin-top: 50px;
}
  .cont{
    font-size: 40px;
  }
  .sup1{
  background-color: #a80000;
  border-radius: 40px;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  font-size: 30px;
  color: white;
  border: none;
}
  .rodape{
  background-color: #a80000;
  margin-bottom: 0;
  margin-top: 30px;
  height: 50px;
  user-select: none;
}
  .rod1{
  color: #a80000;
}

  .t3{
    font-size: 30px;
    margin-left: 20px;
  }
  .t5{
    font-size: 30px;
    margin-left: 25px;
  }
  .t6{
    font-size: 29px;
    margin-left: 20px;
    margin-right: 220px;
  }
  .t7{
    font-size: 35px;
  }
  @media(max-width: 430px){
    .icone_menu{
      width: 40px;  
      height: 40px;
      margin-top: 20px;
      margin-left: 20px;
      display: inline;
    }
    .menu-options{
      margin-top: 24px;
      color: black;
      border-radius: 0px 0px 10px 10px;
      background-color: rgb(255, 255, 255);
    }
    .menu-options a{
      color: rgb(0, 0, 0);
      font-size: 15px;
      margin-left: 20px;
      padding: 10px;
      border-radius: 10px;
      display: flex;
    }
    .menu-options a:hover{
      text-decoration: none;
      color: rgb(255, 255, 255);
      background-color: #a80000;
    }
    #menu-options {
      display: none;
    }
    #menu-options.ativo {
      display: flex;
    }
    .btn-cadastro {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 20px;
      bottom: auto;
    }
    
    .icone-perfil {
      width: 40px;  
      height: 40px;
    }
    
    header{
      background-color: white;
      height: 84px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    
    #carouselExampleIndicators{
      width: 400px;
      margin: 0 auto;
    }
    .img_festa{
      display: block;
      width: 100%;
    }
    
    .conteiner-carrossel{
      width: 100%;
      background-color: #a80000;
      height: 300px;
      top: 0%;
      padding-top: 60px;
    }
    
    .senai{
      height: 40px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
    }
    .bemvindo{
      background-color: white;
      text-align: center;
      
      }
      .t1{
      font-size: 23px;
      color: #a80000;
      }
      .cdp{
      font-size: 15px;
      color: black;
      }
      .bot1{
      border-radius: 50px;
      background-color: #a80000; 
      height: 40px;
      width: 200px;
      border: none;
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
      }
      .bot2{
      border-radius: 50px;
      background-color: #a80000;
      margin-left: auto;
      margin-top: 0px;
      height: 40px;
      width: 200px;
      border: none;
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
      }
      .bot1 a:hover{
        color: white;
        text-decoration: none;
      }
      .bot2 a:hover{
        color: white;
        text-decoration: none;
      }
      .tt1{
        color: white;
        font-size: 15px;
        }
        .tt2{
        color: white;
        font-size: 15px;
        }
      .container_botao{
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
      }
      .noite{
        text-align: center;
        color: white;
        background-color: #a80000;
        height: 100%;
        }
        .subtitulo{
        font-size: 20px;
        }
        .container_texto{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        
        }
        .texto{
          grid-column: auto;
          margin-top: auto;
          margin-left: 0;
          text-align: left;
          margin-left: 5px;
          margin-right: auto;
        }
        
        .t3{
          font-size: 15px;

        }
        .t5{
          font-size: 15px;

        }
        .t6{
          font-size: 15px;
          
        }
        .t7{
          font-size: 15px;
        }
       
        .texto img{
          width: 40px;
          height: 40px;
        }
        .img2{
          margin-left: auto;
        }
        .img3{
          margin-left:auto;
        }

          #centro{
          
          justify-content: center;
          text-align: left;
        }
        .sup{
          background-color: white;
          height: 100px;
          text-align: center;
          
        }
          .contato{
          font-size: 10px;
        }
          .cont{
            font-size: 20px;
          }
          .sup1{
          background-color: #a80000;
          border-radius: 40px;
          width: 200px;
          height: 40px;
          margin-top: 50px;
          font-size: 20px;
          color: white;
          border: none;
        }
        .rodape{
          background-color: #a80000;
          margin-bottom: 0;
          margin-top: 50px;
          height: 30px;
          user-select: none;
        }
          .rod1{
          color: #a80000;
          font-size: 20px;
        }
  }