* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    height: 60px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.usuario {
    width: 63px;
    height: 63px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 10px;
}


main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapa-container {
    width: 100%;
    overflow-x: auto;
    text-align: center;
}

.mapa-img {
    width: 60%;
    max-width: 90%;
    height: auto;
}

.sup{
    background-color: white;
    height: 100px;
    text-align: center;
    
  }
    .contato{
    font-size: 10px;
    margin-top: 50px;
  }
    .cont{
      font-size: 40px;
    }
    .sup1{
    background-color: #97080A;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    border: none;
  }
    .rodape{
    background-color: #97080A;
    margin-bottom: 0;
    margin-top: 30px;
    height: 50px;
    user-select: none;
  }
    .rod1{
    color: #97080A;
  }

  .contato b{
    font-size: 30px;
  }
  
@media (max-width: 1024px) {
    .mapa-img {
        width: 80%;
        max-width: 90%;
        height: auto;
    }

    .menu-container {
        width: 10px;
        margin-right: 63.5pc;
        position: absolute;
    }
    .navbar {
        background-color: #97080A;
        padding: 40px;
    }
}

@media (max-width: 600px) {
    .navbar {
        background-color: #97080A;
        padding: 40px;
    }
    header{
        display: flex;
        flex-direction: row;
    }
    .menu-bar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 40px;
    }
    .logo{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .logo img {
        width: 200px;
    }

    .usuario img {
        width: 40px;
        position: absolute;
        left: 20px;
        margin-top: -10px; 
    }

    .back-btn {
        font-size: 14px;
        position: absolute;
        left: 6px;
        margin-top: -15px;
    }

    main {
        padding: 10px;
    }
}
