* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.logo img {
    width: 180px;
    margin: 10px 0;
}

.menu-bar {
    width: 100%;
    background-color: #97080A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.back-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.usuario img {
    width: 40px;
    height: auto;
}


main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapa-container {
    width: 100%;
    overflow-x: auto;
    text-align: center;
}

.mapa-img {
    width: 100%;
    max-width: 90%;
    height: auto;
    border: 1px solid #ccc;
}

.sup{
    background-color: white;
    height: 100px;
    text-align: center;
    
  }
    .contato{
    font-size: 10px;
    margin-top: 50px;
  }
    .cont{
      font-size: 40px;
    }
    .sup1{
    background-color: #97080A;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    border: none;
  }
    .rodape{
    background-color: #97080A;
    margin-bottom: 0;
    margin-top: 30px;
    height: 50px;
    user-select: none;
  }
    .rod1{
    color: #97080A;
  }

  .contato b{
    font-size: 30px;
  }
  

@media (max-width: 430px) {
    .menu-bar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 40px;
    }

    .logo img {
        width: 140px;
    }

    .usuario img {
        width: 40px;
        position: absolute;
        left: 360px;
        margin-top: -10px; 
    }

    .back-btn {
        font-size: 14px;
        position: absolute;
        left: 6px;
        margin-top: -15px;
    }

    main {
        padding: 10px;
    }
}
