.icone_menu{
    width: 40px;  
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    display: none;
  }
  .menu-options{
    color: rgb(255, 255, 255);
    display: flex;
    background-color: #97080A;
    text-align: center;
    position:absolute;
    left: 28%;
    top: 10,5%;
  }
  .menu-options2{
    color: rgb(255, 255, 255);
    display: flex;
    background-color: white;
    text-align: center;
    margin-top: 24px;
    display: none;
    border-radius: 0 0 10px 10px;
  }
  .menu-options2 a{
    display: none;
    color: #97080A;
    font-size: 15px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    text-decoration: none;
  }
  .menu-options a{
    color: white;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    padding:5px;
    margin-top: 15px;
    border-left: 2px solid white;
    text-decoration: none;
  }
  #none_border{
    border: none;
  }
  .menu-options a:hover{
    border-radius: 10px;
    text-decoration: none;
    color: #97080A;
    background-color: #ffffff;
  }
  #menu-options {
    display: flex;
  }
  #menu-options.ativo {
    display: none;
  }
  @media(max-width:600px){
    .icone_menu{
      width: 40px;  
      height: 40px;
      margin-top: 20px;
      margin-left: 20px;
      display: inline;
    }
    .menu-options{
      color: rgb(255, 255, 255);
      display: none;
      background-color: #97080A;
      text-align: center;
      position:absolute;
      left: 28%;
      top: 10,5%;
    }
    .menu-options2{
      color: rgb(255, 255, 255);
      display: flex;
      background-color: white;
      text-align: center;
      margin-top: 24px;
      display: none;
      border-radius: 0 0 10px 10px;
    }
    .menu-options2 a{
      display: flex;
      color: #97080A;
      font-size: 15px;
      margin-left: 20px;
      padding: 10px;
      border-radius: 10px;
      margin-top: 15px;
    }
    .menu-options a{
      color: white;
      font-size: 20px;
      margin-left: 0;
      margin-right: 0;
      padding:5px;
      margin-top: 15px;
      border-left: 2px solid white;
      text-decoration: none;
      display: none;
    }
    #none_border{
      border: none;
    }
    .menu-options a:hover{
      border-radius: 10px;
      text-decoration: none;
      color: #97080A;
      background-color: #ffffff;
    }
    #menu-options {
      display: flex;
    }
    #menu-options.ativo {
      display: none;
    }
  }