.icone_menu{
    width: 40px;
    height: 40px;
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
  }

  .menu-options {
    background-color: #97080A;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
  .menu-options2{
    color: #97080A;
    display: none;
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 80px; /* Ajuste de acordo com a altura do menu */
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .menu-options2 a{
    color: #97080A;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    text-decoration: none;
  }
  .menu-options a{
    color: white;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    padding:5px;
    border-left: 2px solid white;
    text-decoration: none;
  }
  #none_border{
    border: none;
  }
  .menu-options a:hover{
    border-radius: 10px;
    text-decoration: none;
    color: #97080A;
    background-color: rgb(132, 132, 132);
  }
  #menu-options {
    display: flex;
  }
  #menu-options.ativo {
    display: none;
  }
  @media(max-width:1024px){
    .icone_menu{
      width: 40px;  
      height: 40px;
      margin-top: 20px;
      margin-left: 20px;
      display: inline;
    }
    .menu-options{
      color: rgb(255, 255, 255);
      display: none;
      background-color: #97080A;
      text-align: center;
      position:absolute;
      left: 28%;
      top: 10,5%;
    }
    .menu-options2{
      color: rgb(132, 132, 132);
      display: grid;
      text-align: center;
      margin-top: 24px;
      display: none;
      border-radius: 0 0 10px 10px;
      z-index: 88;
      width: 10%;
    }
    .menu-options2 a{
      color: #97080A;
      font-size: 15px;
      margin-left: 20px;
      padding: 10px;
      border-radius: 10px;
      margin-top: 15px;
      font-style: oblique;
      background-color:rgb(171, 166, 166);
    }
    .menu-options a{
      color: white;
      font-size: 20px;
      margin-left: 0;
      margin-right: 0;
      padding:5px;
      margin-top: 15px;
      border-left: 2px solid white;
      text-decoration: none;
      display: none;
    }
    #none_border{
      border: none;
    }
    .menu-options a:hover{
      border-radius: 10px;
      text-decoration: none;
      color: #97080A;
      background-color: #ffffff;
    }
    #menu-options {
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    #menu-options.ativo {
      display: none;
    }
  }
  @media(max-width:600px){
    .icone_menu{
      width: 40px;  
      height: 40px;
      margin-top: 20px;
      margin-left: 20px;
      display: inline;
      position: absolute;
    }
    .menu-options{
      color: rgb(132, 132, 132);
      display: none;
      background-color: #97080A;
      text-align: center;
      position:absolute;
      left: 28%;
      top: 10,5%;
    }
    .menu-options2{
      grid-template-columns: 1fr;
      left: 0;
      right: 0;
      margin: 0;
      width: 100%;
      border-radius: 0;
    }
    .menu-options2 a{
      margin-left: 0;
        padding: 15px;
        font-size: 18px;
        background-color:rgb(171, 166, 166);
    }
    .menu-options a{
      color: white;
      font-size: 20px;
      margin-left: 0;
      margin-right: 0;
      padding:5px;
      margin-top: 15px;
      border-left: 2px solid white;
      text-decoration: none;
      display: none;
    }
    #none_border{
      border: none;
    }
    .menu-options a:hover{
      border-radius: 10px;
      text-decoration: none;
      color: #97080A;
      background-color: #ffffff;
    }
    #menu-options {
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    #menu-options.ativo {
      display: none;
    }
  }