body{
  margin: 0;
}

.senai{
  height: 60px;
}

header{
  background-color: white;
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cabecalho2{
  background-color: #97080A;
  width: 100%;
  height: 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#home{
  width: 58px;
}

.perfil{
  color: #D32F30;
  font-family: "Inter", sans-serif;
  margin-left: 30px;
}

.foto-user{
  width: 300px;
}

.dados{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 200px;
}

#editar-btn {
  background-color: #97080A;
  width: 180px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 40px; 
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
  align-self: center;
}

#editar-btn:hover {
  background-color: #a60000; /* tom mais claro no hover */
}
  

.edit {
  width: 16px;
  height: 16px;
}

.username{
  font-family: "Inter", sans-serif;
  align-self: center;
  font-size: 20px;
}

.info-container {
  background-color: transparent;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 100px;
}

.info-container h3 {
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
}

.info-item {
  background-color: #D9D9D9;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.info-item1{
  background-color: #BAB9B9;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}




.btn-editar {
  background-color: #8b0000;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
  margin-top: 20px;
}

.container-perfil {
  display: flex;
  align-items: flex-start; 
  gap: 2rem; 
}

.img-form{
  width: 30px;
  left: -100px;
  margin-right: 10px;
}

span{
  font-family: "Inter", sans-serif;
}

.eye{
  width: 30px;
}

#info-item2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

#info-item2 span{
  flex-grow: 1;
  text-align: left;
}

#info-item2 button{
  background-color: transparent;
  border: none;
  cursor: pointer; 
}

.blur {
  filter: blur(5px);
}

.cabecalho2 button{
  background: none;
  border: none;
  cursor: pointer;
}